body {
    
}

footer {
    display: flex;
    align-items:center;
}

#st-nm {
    color:black;
    font-size: 32px;
    text-shadow: 3px 3px 5px rgb(155, 36, 36);
}

.rts {
    display: inline-block;
    border: 1px, solid, black;
}

